# ===============================
# Eclipse / IDE files
# ===============================
.project
.classpath
.settings/
.metadata/

# ===============================
# Build folders
# ===============================
bin/
target/
build/

# ===============================
# Server / Tomcat
# ===============================
Servers/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary / backup files
# ===============================
*.tmp
*.bak
*.swp

# ===============================
# Node / npm (if any later)
# ===============================
node_modules/
